<h1>Cats in need of a Caregiver</h1>

<div class="columns">
  <div class="column col-12">
    {{#if session.AdminIsLoggedIn}}
      <div class="float-right mr-2 ">
        <a href="/index/create"><button class="btn bg-primary">Create Ad</button></a>
      </div>
    {{/if}}
  </div>
  <div class="column col-12">
    {{#if hasDatabaseError}}
      <p>Couldn't fetch the cat s at the moment, try again later.</p>
    {{else}}
      {{#if cat.length}}
        {{#each cat}}
          <ul class="catlist">
            <li>Name: {{Name}}</li>
            <li><img src="/{{Image_path}}" alt="{{Id}}" class="catimage"></li>
            <li>Description: {{Description}}</li>
            <li>Age: {{Age}}</li>
            <div class="mt-2">
              <a href="/catownerinfo/{{Cat_owner_id}}">
                <button class="btn btn-link text-dark bg-warning">Cat owner information</button>
              </a>
            </div>
          </ul>
          {{#if ../session.AdminIsLoggedIn}}
            <div class="my-2">
              <a href="/index/{{Cat_id}}/update"><button class="btn btn-link text-dark bg-success"> Update</button></a>
              <a href="/index/{{Cat_id}}/delete"><button class="btn btn-link text-dark bg-error">Delete</button></a>
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <p>No cats here :(</p>
      {{/if}}
    {{/if}}
  </div>
</div>
{{#if previous}}
  <a href="/index/?page={{previous}}"><button class="btn"> Previous Page</button></a>
{{/if}}
{{#if morePages}}
  <a href="/index/?page={{next}}"><button class="btn"> Next Page</button></a>
{{/if}}