<h1>Update Post</h1>
{{#if hasDatabaseError}}
  <p>Couldn't fetch the data at the moment</p>
{{else}}
    {{#if errors.length}}
        <p>Couldn't update the post because:</p>
        <ul>
	        {{#each errors}}
	            <li>{{this}}</li>
	        {{/each}}
        </ul>
    {{/if}}
    <div class="float-left">
        <form action="/index/{{cat.Cat_id}}/update" method="POST">
	        <input type="hidden" name="_csrf" value="{{csrfToken}}">
	        <div class="text-left mb-2">
		       <p class="mb-0"> Name:</p> <input type="text" name="name" value="{{cat.Name}}">
	        </div>
	        <div class="text-left mb-2">
		       <p class="mb-0"> Description:</p> <input type="text" name="description" value="{{cat.Description}}">            
	        </div>
	        <div class="text-left mb-2">
	        	<p class="mb-0">Age:</p> <input type="text" name="age" value="{{cat.Age}}">		
	        </div>
	        <div>
		        <input class="float-left mt-2" type="submit" value="Update">
	        </div>
        </form> 
    </div>
{{/if}}